/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT TOP 1000 [idUsuario]
      ,[Nombre]
      ,[Apellido]
      ,[tDoc]
      ,[Doc]
      ,[Usuario]
      ,[Pass]
      ,[Archivo]
      ,[Email]
      ,[idProv]
      ,[Localidad]
      ,[Direccion]
      ,[Telefonos]
      ,[FAlta]
      ,[fNacimiento]
  FROM [Sistemas].[dbo].[Usuarios]